.bundle/
log/*.log
pkg/
spec/dummy/db/*.sqlite3
spec/dummy/db/*.sqlite3-journal
spec/dummy/log/*.log
spec/dummy/tmp/
spec/dummy/.sass-cache
spec/dummy/config/database.yml
Gemfile.lock

.ruby-version

# Test coverage generation goes there...
coverage

# This is a directory I use to take notes
notes
