<!DOCTYPE html>
<html>
<head>
  <title>Vocal</title>
  <%= stylesheet_link_tag    "vocal/admin", media: "all" %>
  <%= javascript_include_tag "vocal/admin" %>
  <%= csrf_meta_tags %>
</head>
<body>

</body>
</html>
