<!DOCTYPE html>
<html>
<head>
  <title>Opinionated</title>
  <%= stylesheet_link_tag    "opinionated/admin", media: "all" %>
  <%= javascript_include_tag "opinionated/admin" %>
  <%= csrf_meta_tags %>
</head>
<body>

</body>
</html>
