<!DOCTYPE html>
<html>
<head>
  <title>Opinionated</title>
  <%= stylesheet_link_tag    "opinionated/application", media: "all" %>
  <%= javascript_include_tag "opinionated/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
