.post-list
  width: 98%
  max-width: 98%

  .posts
    border: 1px dashed black
    padding-right: 20px
    height: 90vh

  .post
    border: 1px dashed black
    padding-left: 20px
    height: 90vh

.post-edit, .post-new
  .markdown
    border: 1px dashed black
    height: 90vh
    outline: none
    white-space: pre
    overflow: auto

  .preview
    border: 1px dashed black
    height: 90vh
    overflow: auto

.post-new
  height: 100vh

.post-form
  textarea
    display: none
  button
    display: inline
    margin: 0
    float: right
  input
    margin: 0
    font-size: 20px
    width: 50%
    height: 51px
    display: inline